<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,104}</string>
                <key>spriteSourceSize</key>
                <string>{111,104}</string>
                <key>textureRect</key>
                <string>{{1859,1},{111,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,124}</string>
                <key>spriteSourceSize</key>
                <string>{127,124}</string>
                <key>textureRect</key>
                <string>{{481,232},{127,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{151,247},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,149}</string>
                <key>spriteSourceSize</key>
                <string>{176,149}</string>
                <key>textureRect</key>
                <string>{{303,236},{176,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,182}</string>
                <key>spriteSourceSize</key>
                <string>{197,182}</string>
                <key>textureRect</key>
                <string>{{728,208},{197,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,194}</string>
                <key>spriteSourceSize</key>
                <string>{200,194}</string>
                <key>textureRect</key>
                <string>{{1141,198},{200,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,198}</string>
                <key>spriteSourceSize</key>
                <string>{208,198}</string>
                <key>textureRect</key>
                <string>{{1343,195},{208,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,207}</string>
                <key>spriteSourceSize</key>
                <string>{204,207}</string>
                <key>textureRect</key>
                <string>{{1756,173},{204,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,201}</string>
                <key>spriteSourceSize</key>
                <string>{212,201}</string>
                <key>textureRect</key>
                <string>{{1553,175},{212,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,214}</string>
                <key>spriteSourceSize</key>
                <string>{229,214}</string>
                <key>textureRect</key>
                <string>{{438,1},{229,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,219}</string>
                <key>spriteSourceSize</key>
                <string>{233,219}</string>
                <key>textureRect</key>
                <string>{{217,1},{233,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,214}</string>
                <key>spriteSourceSize</key>
                <string>{244,214}</string>
                <key>textureRect</key>
                <string>{{1,1},{244,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,205}</string>
                <key>spriteSourceSize</key>
                <string>{233,205}</string>
                <key>textureRect</key>
                <string>{{654,1},{233,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,200}</string>
                <key>spriteSourceSize</key>
                <string>{228,200}</string>
                <key>textureRect</key>
                <string>{{889,1},{228,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,195}</string>
                <key>spriteSourceSize</key>
                <string>{213,195}</string>
                <key>textureRect</key>
                <string>{{1119,1},{213,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,189}</string>
                <key>spriteSourceSize</key>
                <string>{212,189}</string>
                <key>textureRect</key>
                <string>{{927,203},{212,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,192}</string>
                <key>spriteSourceSize</key>
                <string>{184,192}</string>
                <key>textureRect</key>
                <string>{{1334,1},{184,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,172}</string>
                <key>spriteSourceSize</key>
                <string>{170,172}</string>
                <key>textureRect</key>
                <string>{{1520,1},{170,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,170}</string>
                <key>spriteSourceSize</key>
                <string>{165,170}</string>
                <key>textureRect</key>
                <string>{{1692,1},{165,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,148}</string>
                <key>spriteSourceSize</key>
                <string>{142,148}</string>
                <key>textureRect</key>
                <string>{{1,247},{142,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,124}</string>
                <key>spriteSourceSize</key>
                <string>{119,124}</string>
                <key>textureRect</key>
                <string>{{607,232},{119,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xucxac.png</string>
            <key>size</key>
            <string>{1964,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b92b4edc098c259e5c46fd75532929d9:4ecb85ada851d5b1fdc8f0b8d7903a69:828dd699b75160eb7938990f34644d64$</string>
            <key>textureFileName</key>
            <string>xucxac.png</string>
        </dict>
    </dict>
</plist>
