<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".manifest" />
			<remove fileExtension=".txt" />
			<remove fileExtension=".jsc" />
			<mimeMap fileExtension=".pem" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".plist" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".manifest" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".txt" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".jsc" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".pkm" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".pvr" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".astc" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".atlas" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".apk" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".cconb" mimeType="application/octet-stream" />			
			
			<mimeMap fileExtension=".webp" mimeType="application/octet-stream" />			
			
        </staticContent>
    </system.webServer>
	
</configuration>
