<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Mobile (dọc) -> folder "web" -->
        <rule name="Serve Mobile" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_USER_AGENT}" pattern="Android|iPhone|iPad|iPod|Mobile|Windows Phone" />
            <add input="{URL}" pattern="^/(web|web-ngang)/" negate="true" />
          </conditions>
          <action type="Rewrite" url="web/{R:1}" />
        </rule>

        <!-- Desktop (ngang) -> folder "web-ngang" -->
        <rule name="Serve Desktop" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{URL}" pattern="^/(web|web-ngang)/" negate="true" />
          </conditions>
          <action type="Rewrite" url="web-ngang/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>